.homeContainer{
    display: grid; 
    grid-template-rows: 2fr;
    grid-template-columns: 5fr;
    padding: 10px;
}

.carousel-home{
    height: 28rem;
/*    border: solid 0.01px #ccc;*/
}

li button{
    background-color: transparent;
    border: #ccc solid 0.2px;

}