nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    align-content: flex-start;
    align-items: baseline;
    margin: 12px 10px 0px 0px;
    box-shadow: rgba(64, 65, 66, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
}

nav ul{
    display:flex;
    list-style: none;
    padding: 0px;
    flex-direction: column;
    width: 200px;
}

nav ul li{
    padding: 10px;
}

nav ul li:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    font-size: 1.5rem;
}